<div class="bg-5 mt-5">
  <div class="w-90">
    <div class="row justify-content-center g-3 align-items-center">
      <div class="col-6 col-md-2"><img src="assets/images/1.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/2.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/award-badge.png" class="partner-logo" alt="" style="width:100px"></div>
      <div class="col-6 col-md-2"><img src="assets/images/4.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/5.png" class="partner-logo" alt="" style="width:100px"></div>
      <div class="col-6 col-md-2"><img src="assets/images/6.png" class="partner-logo" alt=""></div>
    </div>

    <div class="row justify-content-center g-3 mt-3 align-items-center">
      <div class="col-6 col-md-2"><img src="assets/images/7.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/8.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/9.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/10.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/11.png" class="partner-logo" alt=""></div>
    </div>

    <div class="row justify-content-center g-3 mt-3 align-items-center">
      <div class="col-6 col-md-2"><img src="assets/images/12.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/13.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/14.jpeg" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/15.png" class="partner-logo" alt=""></div>
      <div class="col-6 col-md-2"><img src="assets/images/16.png" class="partner-logo" alt=""></div>
    </div>
  </div>
</div>
