<footer class="bg-white">
  <div class="w-90">
    <div class="pb-3"><img src="assets/images/logo-dark.png" alt="" id="logo"></div>

    <div class="pt-3">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h5> <strong>About</strong> </h5>
          <ul>
            <li><a href="/who-we-are.html">Who We Are</a></li>
            <li><a href="/research-science.html">Research & Science</a></li>
            <li><a href="/join-us.html">Join Us</a></li>
          </ul>

          <h5 class="mt-5"> <strong>Preferences</strong> </h5>
          <ul>
            <li><a href="#">Location: <u>SINGAPORE</u></a></li>
            <li><a href="#">Language: <u>ENGLISH</u></a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 mb-5">
          <h5> <strong>Customer Care</strong> </h5>
          <ul>
            <li><a href="/faq.html">FAQs</a></li>
            <li><a href="/shipping.html">Shipping & Delivery</a></li>
            <li><a href="/returns.html">Returns & Exchange Policy</a></li>
            <li><a href="/privacy-policy.html">Privacy Policy</a></li>
          </ul>

          <h5 class="mt-5"> <strong> Products & Services</strong> </h5>
          <ul>
            <li><a href="/shop.html">Our Products</a></li>
            <li><a href="/dermal-services.html">Dermal Services</a></li>
            <li><a href="/longevity-wellness.html">Wellness Programmes</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12">
          <h5> <strong>We send delicious emails</strong> </h5>
          <input class="mt-4" type="text" name="" value="" placeholder="Email Address">

          <p class="agree-to-mail my-4">*By checking the above box you are agreeing to receive email communications from
            SKINCOMM® Singapore, its affiliates and/or marketing partners. This can be changed at any time. Please refer
            to our Privacy Policy and Terms of Use for more details or Contact Us.</p>

          <a class="me-2" href="#"><img src="assets/icons/fb.png" alt="" style="width:40px"></a>
          <a class="me-2" href="#"><img src="assets/icons/ig.png" alt="" style="width:40px"></a>
          <a class="me-2" href="#"><img src="assets/icons/wa.png" alt="" style="width:40px"></a>
        </div>
      </div>
    </div>
  </div>
</footer>