<div class="bg-black text-center text-white py-2">
  <div class="w-90">
    Free shipping available on all local orders above $250.
  </div>
</div>

<div class="bg-white py-4">
  <div class="w-90">
    <header class="d-flex flex-wrap align-items-center">
      <div class="col-3">
        <img src="assets/images/logo.png" alt="" id="logo">
      </div>

      <div class="col-8 hidden" id="menu">
        <nav>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Our Products</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Our Services</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">About Us</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Activities</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-1 d-flex">
        <btn id="menu-icon" class="me-2 cursor"><img class="menu-icon" src="assets/icons/menu.svg" alt=""></btn>
        <a class="me-2" href="#"><img class="user-icon" src="assets/icons/user.png" alt=""></a>
        <a class="me-2" href="#"><img class="cart-icon" src="assets/icons/cart.png" alt=""></a>
      </div>
    </header>
  </div>
</div>
