<div class="row mt-3">
  <div class="col-md-3 col-6">
    <div class="product-card">
      <img src="assets/images/products/agerecode product single 1 1.png" class="img-fit" alt="Product">
      <p class="fw-bold m-0 mt-3">AGE RECODE<sup>&reg;</sup> (15 CAPSULES)</p>
      <p class="fw-bold">$90</p>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="product-card">
      <img src="assets/images/products/1 essence 1.png" class="img-fit" alt="Product">
      <p class="fw-bold m-0 mt-3">UNICEL ESSENCE YOUTHREFINER</p>
      <p class="fw-bold">$176</p>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="product-card">
      <img src="assets/images/products/1 complex 1.png" class="img-fit" alt="Product">
      <p class="fw-bold m-0 mt-3">UNICEL COMPLEX YOUTHLOC</p>
      <p class="fw-bold">$198</p>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="product-card">
      <img src="assets/images/products/agerecode product no bg box 1.png" class="img-fit" alt="Product">
      <p class="fw-bold m-0 mt-3">AGE RECODE<sup>&reg;</sup> (60 CAPSULES)</p>
      <p class="fw-bold">$282</p>
    </div>
  </div>
</div>
